body {
  margin: 0;
  padding: 0;
  background-color: #CCC;
}
html {
  margin: 0;
  padding: 0;
  color: #000;
  font-family: Helvetica, Arial, Verdana, sans-serif;
  font-size: 1em;
  line-height: 2em;
}
a {
  color: #08693E;
  text-decoration: none;
}
a:hover {
  color: #08693E;
  font-weight: 500;
}
p {
  color: #111;
}

/* MENU BURGER */
/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}
.logo {
  max-width: 200px;
}
/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #FF0000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
  color: #FF0000;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
  top: 0;
  left:0;
}

/* General sidebar styles */
.bm-menu {
  background: #CCC;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #CCC;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}



/* FOOTER */

.copy {
  font-size: 0.5em;
  border-top: thin solid #333;
  position: absolute;
  bottom: 0;
  left: 0;
}